.Topbarcontainer{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #1877f2;
    z-index: 999;
}

.Topbarleft{
    flex:3;
}
.Topbarcenter{
    flex:5;
}



.logo{
    font-size: 24px;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
}



.Searchbar{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    width: 100%;
    height: 30px;
}
.searchIcon{
    margin-left: 10px;
}

.searchInput{
    width: 80%;
    border: none;   
}

.searchInput:focus{
    outline: none;
}



.Topbarright{
    flex:4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.topbarlink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIcons{
    display: flex;
}


.topbariconItem{
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}

.topbarIconbadge{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}


.topimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}